<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinico</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="~/css/home.css" rel="stylesheet" />
</head>
<body>

    <div class="hero">
        <div class="hero-content">
            <h1 class="display-4 fw-bold">KODEMED HOSPITAL</h1>
            <br />
            <p class="lead">Atención médica especializada disponible 24/7</p>
            <br />
            <a class="btn btn-info btn-lg" asp-area="" asp-controller="Home" asp-action="Info"> Conoce más sobre nosotros</a>
            <br /><br />
        

            <div class="container mt-4">
                <div class="row text-center">
                    <div class="col-md-3">
                        <div class="info-box">
                            <i class="fas fa-user-injured"></i>
                            <h5>PACIENTES</h5>
                            <br />
                            <p>Accede a tu historial médico, datos personales y tratamientos en un solo lugar. Mantén un control detallado de tu salud con información siempre disponible.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box">
                            <i class="fas fa-user-md"></i>
                            <h5>MÉDICOS</h5>
                            <br />
                            <p>Consulta el perfil de nuestros especialistas registrados, sus credenciales y especialidades para recibir la mejor atención médica según tus necesidades.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box">
                            <i class="fas fa-cogs"></i>
                            <h5>ESPECIALIDADES</h5>
                            <br />
                            <p>Explora un amplio catálogo de especialidades médicas disponibles en nuestro hospital. Encuentra atención especializada y tratamientos personalizados.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info-box">
                            <i class="fas fa-calendar-alt"></i>
                            <h5>CITAS MÉDICAS</h5>
                            <br />
                            <p>Agenda, gestiona y revisa tus citas médicas de manera rápida y sencilla a través de nuestra plataforma. Consulta la disponibilidad de los especialistas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
